<div class="container">
    <div class="row mb-5">
        <div class="col-md-4">
            <h3>关于</h3>
            <p class="mb-4">
                <img src="../images/下1.jpg" alt="Image placeholder" class="img-fluid">
            </p>

            <p>世界很大,有趣的事物很多,记录下它们,以便需要时快速使用或享受。<a href="about.html">想要了解更多?</a></p>
        </div>
        <div class="col-md-6 ml-auto">
            <div class="row">
                <div class="col-md-7">
                    <h3>推荐文章</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            <li>
                                <a href="../page/Vue04.html">
                                    <img src="../images/vue/VuePlugins.jpg" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>Vue的组件</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">4.15, 2021 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../page/Vue02.html">
                                    <img src="../images/vue/Vueorigin.jpg" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>Vue源码解析</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">4.10, 2021 </span>

                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../page/Vue03.html">
                                    <img src="../images/vue/VueLogin.jpg" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>使用Vue做一个登录页面</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">4.12, 2021 </span>

                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1"></div>

                <div class="col-md-4">

                    <div class="mb-5">
                        <h3>快捷访问</h3>
                        <ul class="list-unstyled">
                            <li><a href="../about.html">关于</a></li>
                            <li><a href="../note.html">笔记</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="small">
                2023 by Remm
            </p>
        </div>
    </div>
</div>