<div class="sidebar-box search-form-wrap">
    <form action="#" class="search-form">
        <div class="form-group">
            <span class="icon fa fa-search"></span>
            <input type="text" class="form-control" id="s" placeholder="">
        </div>
    </form>
</div>
<!-- END sidebar-box -->
<div class="sidebar-box">
    <div class="bio text-center">
        <img src="/images/ori.jpg" alt="Image Placeholder" class="img-fluid">
        <div class="bio-body">
            <h2>Remm</h2>
            <p>世界远比你想象得更加精彩,与其局限于一处,不如大胆前行,我能分享我的故事,记录我的生活,你也可以分享你的故事,留下你的见解,我们都能见过更多事物,体验更多美好,了解更加精彩的世界...</p>
            <p><a href="/about.html" class="btn btn-primary btn-sm rounded">了解更多...</a></p>
        </div>
    </div>
</div>
<!-- END sidebar-box -->


<div class="sidebar-box">
    <h3 class="heading">分类</h3>
    <ul class="categories">
        <li><a href="/page/note_vue.html">Vue<span>(5)</span></a></li>
        <li><a href="/page/note_react.html">React<span>(0)</span></a></li>
        <li><a href="/page/note_uniapp.html">uni-app<span>(0)</span></a></li>
    </ul>
</div>
<!-- END sidebar-box -->

<div class="sidebar-box">
    <h3 class="heading">标签</h3>
    <ul class="tags">
        <li><a href="/page/note_vue.html">Vue</a></li>
        <li><a href="/page/note_react.html">组件</a></li>
        <li><a href="/page/note_uniapp.html">React</a></li>
    </ul>
</div>